body {
  background: #fafafa;
}

.column__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 48rem) {
  .column__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
}

.column__container__left {
  width: 60%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column__container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column__container__right {
  width: 40%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-DemiIt.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-DemiIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.container {
  max-width: 67.5rem;
  margin: 0 auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-width {
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  max-height: 25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 48rem) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__group-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 50%;
  height: 2.5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50%;
  border-radius: 1rem;
}

.header__upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10%;
  background-color: #0095ff;
}

.header__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: auto;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: 1px solid blue;
  margin-left: 1.5rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 48rem) {
  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.banner__poster {
  max-width: inherit;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  max-height: 10rem;
  padding: 3rem;
}

@media (min-width: 48rem) {
  .form__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  height: 6rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.form__comment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid blue;
}

.form__textarea {
  padding-top: 2rem;
  height: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27.5rem;
  height: 3rem;
}

.form__button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
  width: 5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: #0095ff;
}

.upload__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media (min-width: 48rem) {
  .upload__form-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.upload__slogan {
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
  font-size: 2rem;
}

.upload__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  height: 40rem;
}

.upload__bicycle img {
  width: 45%;
  border-radius: 2.5%;
}

.upload__label {
  width: 100%;
  height: 3.125rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

.upload__input {
  width: 90%;
  height: 3.125rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

.upload__textarea {
  width: 90%;
  height: 6.25rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

.upload__button-container {
  width: 100%;
  height: 6.25rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.125rem;
  background-color: #0095ff;
}

.comment__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}

@media (min-width: 48rem) {
  .comment__id {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.comment__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'AvenirNext LT Pro';
  font-style: normal;
}

.comment__comment {
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
  font-style: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 48rem) {
  .comment__comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.video__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

@media (min-width: 48rem) {
  .video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.video__title {
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
  font-size: 3.75rem;
}

.video__channel-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
}

.video__channel {
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
  font-size: 2rem;
}

.video__date {
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
  font-size: 1.75rem;
}

.video__description {
  padding-top: 4rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos__list {
  padding-top: 3rem;
  min-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media (min-width: 48rem) {
  .videos__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.videos__next-video {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding: 1rem;
  font-family: 'AvenirNext LT Pro';
  font-weight: lighter;
  font-style: normal;
}

.videos__poster-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 100%;
  padding: 1rem;
}

.videos__poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120px;
  max-height: 70px;
}

.videos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
}

.videos__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
  font-style: normal;
}

.videos__channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */