.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  width: 15em;
  align-self: center;
  align-items: flex-start;
}

.header__group-container {
  display: flex;
  border: 2px solid red;
  width: 30rem;
  max-height: 15rem;
}

#header__search {
  display: flex;
  width: 15rem;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

#header__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.header__avatar {
  display: flex;
  justify-content: baseline;
  align-items: center;
  align-self: center;
  margin-right: 1.25rem;
  margin-top: 1.375rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url('../../assets/Images/Mohan-muruge.jpg') center/cover;
  border: 1px solid blue;
}
