body {
  background: #fafafa;
}

//Note to Marker
//I think you might notice this time around a little
//improvement in my application of BEM. This is
//primarily due to Nelson, Bahareh and Jim since I was convinced
//that BEM and SASS really don't work, leading to much
//frustration. That being said I know that this website
//is NOT responsive that is because Jim helped me get it
//that way and I changed something and could not get it
//working again. I have spent most of the weedend trying to
//this website to be responsive. That is the BAD news the
//good news is that I used BEM and SASS throughout the
//project and eventhough it is not perfect I think it looks
// much better.

.column__container {
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
  // min-width media query for desktop breakpoint, see _mixins.scss

  &__left {
    width: 60%;
    flex-direction: row;
  }
  &__list {
    display: flex;
  }
  &__right {
    width: 40%;
    flex-direction: row;

    // @include tablet {
    //   flex-direction: row;
    //   flex-wrap: wrap;
    //   width: 100%;
    // }
  }
}
