.comment {
  &__id {
    display: flex;
    flex-direction: column;
    max-width: 600px;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__name-date {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
  }
  &__name {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-style: normal;
  }

  &__date {
    padding-left: 1rem;
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-style: normal;
  }

  &__avatar-comment {
    display: flex;
  }

  &__avatar {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    object-fit: cover;
    overflow: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid blue;
  }

  &__comment {
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
