.comment {
  &__id {
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__name-date {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
  }

  &__name-comment {
    display: flex;
    flex-direction: column;
  }

  &__name {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-style: normal;
  }

  &__date {
    padding-left: 1rem;
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-style: normal;
  }
  &__avatar-comment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__avatar {
    display: flex;
    align-content: center;
    background-color: grey;
    justify-content: center;
    justify-items: center;
    object-fit: cover;
    overflow: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid blue;
  }

  &__comment {
    padding-left: 1rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
    max-width: 31.25rem;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
