.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  max-height: 25rem;
  align-items: center;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
  }

  &__group-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    height: 2.5rem;
    justify-content: space-evenly;
  }

  &__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 50%;
    border-radius: 1rem;
  }

  &__upload {
    display: flex;
    justify-content: center;
    min-width: 25%;
    align-items: center;
    border-radius: 10%;
    background-color: #0095ff;
  }

  &__avatar {
    display: flex;
    align-content: center;
    object-fit: cover;
    overflow: auto;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 1px solid blue;
    margin-left: 1.5rem;
  }
}
