.upload {
  &__form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__slogan {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-size: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-around;
    min-width: 100%;
    height: 40rem;
  }

  &__bicycle img {
    width: 45%;
    border-radius: 2.5%;
  }

  &__label {
    width: 100%;
    height: 3.125rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__input {
    width: 100%;
    height: 3.125rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__textarea {
    width: 90%;
    height: 6.25rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__button-container {
    width: 100%;
    height: 6.25rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }
}

button {
  justify-content: flex-end;
  align-self: flex-end;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.125rem;
  color: white;
  background-color: #0095ff;
}
