.video {
  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__poster-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }
  &__title {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-size: 2rem;
  }
  &__channel-date {
    display: flex;
    padding-top: 1rem;
  }
  &__channel {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-size: 2rem;
  }
  &__date {
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-size: 1.75rem;
  }
  &__description {
    padding-top: 4rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-size: 1.5rem;
  }
}
