.videos {
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablet {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__next-video {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding: 1rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: lighter;
    font-style: normal;
  }
  //YYYYEEEESSSS I finally got it!!!! I spent hours trying to get the
  //Title and the name on the right side of the image like that!!!!
  //Thank goodness for flex grid!!!!!!
  &__poster-container {
    display: flex;
    align-items: center;
  }

  &__poster {
    flex: 1;
    flex-wrap: wrap;
    max-width: 10rem;
    max-height: 10rem;
  }
  //I renamed the videos__container to videos__col and finally it worked!!!!
  &__col {
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    padding-left: 0.5rem;
  }

  &__title {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-style: normal;
    max-width: 100%;
  }
  &__channel {
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
  }
}
