.videos {
  &__list {
    padding-top: 3rem;
    min-width: 100%;
    flex-direction: column;
    align-content: flex-start;

    @include tablet {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  &__next-video {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding: 1rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: lighter;
    font-style: normal;
  }

  &__poster-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    align-items: flex-start;
    min-width: 20.3125rem;
  }

  &__poster {
    display: flex;
    flex-wrap: wrap;
    max-width: 7.8125rem;
    max-height: 4.6875rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
  }

  &__title {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-style: normal;
    max-width: 12.5rem;
  }
  &__channel {
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
  }
}
