body {
  background: #fafafa;
}

.column-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.column-container__left {
  display: flex;
  padding-top: 4rem;
}
.column-container__right {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-evenly;
}
