body {
  background: #fafafa;
}

.column-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.column-container__left {
  display: flex;
  padding-top: 4rem;
  width: 60%;
}
.column-container__right {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
}
.column-container__form-list {
  width: 100%;
}
