.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 41.875rem;
  display: flex;
  flex-wrap: wrap;
  background: center/cover;
  position: relative;
}
.video__container {
  max-width: 65%;
  padding-bottom: 2rem;
}
