.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  height: 41.875rem;
  display: flex;
  flex-wrap: wrap;
  background: center/cover;
  position: relative;
}
.video__container {
  &__player {
    max-width: 100%;
    max-height: 50%;
  }
}
