.form__container {
  display: flex;

  width: 600px;
  justify-content: first baseline;
}

.form__inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  align-items: center;
  height: 100px;
  width: 550px;
}
.form__banner {
  display: flex;
  align-content: center;
  height: 30px;
  width: 550px;
}
.form__avatar {
  align-self: start;
  object-fit: cover;
  overflow: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
textarea {
  height: auto;
  align-items: center;
  width: 25rem;
  height: 3rem;
}
button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.125rem;
  background-color: #0095ff;
}
