.header {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  max-height: 15rem;
  padding-bottom: 3rem;

  &__logo {
    display: flex;
    width: 15em;
    justify-content: center;
    align-items: center;
  }
}

.header__group-container {
  display: flex;
  width: 22rem;
  height: 2.5rem;
  justify-content: space-around;
}

.header {
  &__search {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 0.75rem;
    width: 12.5rem;
    border-radius: 1rem;
  }

  &__upload {
    display: flex;
    justify-content: center;
    width: 5.5rem;
    align-items: center;
    border-radius: 15%;
    background-color: #0095ff;
  }

  &__avatar {
    display: flex;
    align-content: center;
    object-fit: cover;
    overflow: auto;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    border: 1px solid blue;
  }
}
