.header {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  max-height: 15rem;

  &__logo {
    display: flex;
    width: 15em;
    justify-content: center;
    align-items: center;
  }
}
.header__group-container {
  display: flex;
  border: 2px solid red;
  width: 19rem;
  height: 3.5rem;
}

.header {
  display: flex;

  &__search {
    display: flex;
    width: 20rem;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 1rem;
  }

  &__upload {
    display: flex;
    justify-content: center;
    width: 3rem;
    align-items: center;
    background-color: #0095ff;
    border: 2px solid red;
  }

  &__avatar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    object-fit: cover;
    align-self: center;
    overflow: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid blue;
  }
}
