.header {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  max-height: 15rem;

  &__logo {
    display: flex;
    width: 15em;
    justify-content: center;
    align-items: center;
  }
}
.header__group-container {
  display: flex;
  border: 2px solid red;
  width: 20rem;
  height: 5rem;

  &__search {
    display: flex;
    width: 15rem;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
  }

  &__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 1.25rem;
    margin-top: 1.375rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url('/src/assets/Images/Mohan-muruge.jpg') center/cover;
    border: 1px solid blue;
  }
}
