.container {
  max-width: 100%;
  margin: 0 auto;
}

//Flex wrapper utility for use through out the project
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.body-width {
  $body-width: 67.5rem;
  margin: 0 auto;
}
