.video__list {
  max-width: 740px;
  justify-content: baseline;
  display: flex;
  flex-direction: row;
}
.video__image {
  max-width: 32%;
  border-radius: 10%;
}

.video__container {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
  }

  &__author {
    padding-top: -10px;
    display: flex;
  }
}
