@import './partials/app';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/utilities';
@import './partials/header';
@import './partials/banner';
@import './partials/form';
@import './partials/videoList';

img {
  max-width: 100%;
}
