body {
  background: #fafafa;
}

.column__container {
  display: flex;
  flex-direction: row;

  &__container-left {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  &__container-form-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__container-right {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
}

@include tablet {
  flex-direction: column;
  flex-wrap: wrap;
}
