body {
  background: #fafafa;
}

.column__container {
  display: flex;
  flex-direction: row;

  &__container-left {
    display: flex;
    flex-direction: row;
    width: 60%;
  }
  &__container-form-list {
    display: flex;
    flex-direction: row;
  }
  &__container-right {
    display: flex;
    flex-direction: row;
    width: 40%;
  }
}
