body {
  background: #fafafa;
}
//Set column container to flex
.column {
  &__container {
    display: flex;
    flex-wrap: wrap;

    //Included mixin to stack images when downsizing
    @include tablet {
      flex-wrap: wrap;
    }
  }
  //set width on left container content to 60%
  &__left {
    display: flex;
    width: 65%;
  }

  //set width on right container or image container to 40%
  &__right {
    display: flex;
    width: 35%;
  }
}
