.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  background: center/cover;

  &__video {
    // max-width: 65%;
    padding-bottom: 2rem;
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
