.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: center/cover;
  position: relative;
}

.video__container {
  // max-width: 65%;
  padding-bottom: 2rem;
}
