.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  &__poster {
    max-width: inherit;
  }
}

@include tablet {
  flex-direction: row;
  flex-wrap: wrap;
}
