.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: center/cover;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__video video {
    padding-top: 2.5rem;
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
  }
}
