.form__container {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  width: 43.75rem;

  &__highlight {
    display: flex;
  }

  &__author-date {
    display: flex;
  }
  &__inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
    height: 6.25rem;
    width: 31.25rem;
  }

  &__name-date {
    display: flex;
  }

  &__banner {
    display: flex;
    align-content: center;
    height: 1.875rem;
    width: 34.375rem;
  }

  &__avatar {
    align-self: start;
    object-fit: cover;
    overflow: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  &__textarea {
    height: auto;
    align-items: center;
    width: 25rem;
    height: 3rem;
  }
  &__button {
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.125rem;
    background-color: #0095ff;
  }
}
