.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    max-height: 10rem;
    padding: 3rem;
  }

  &__banner {
    display: flex;
    align-content: center;
    height: 5rem;
  }

  &__comment-button {
    display: flex;
    justify-content: space-around;
  }

  &__avatar {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    object-fit: cover;
    overflow: auto;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid blue;
  }
  &__textarea {
    padding-top: 2rem;
    height: auto;
    text-align: center;
    align-items: center;
    width: 27.5rem;
    height: 3rem;
  }

  &__button {
    justify-content: flex-end;
    align-self: flex-end;
    color: white;
    width: 5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: #0095ff;
  }
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
