.form__container {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  max-height: 10rem;
}

.form__avatar {
  align-self: start;
  object-fit: cover;
  overflow: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.form__banner {
  display: flex;
  align-content: center;
  height: 5rem;
}

.form__textarea {
  padding-top: 2rem;
  height: auto;
  align-items: center;
  width: 100%;
  height: 3rem;
}
.form__name-date {
  display: flex;
  width: 80%;
}
.form__button {
  justify-content: flex-end;
  align-self: flex-end;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.125rem;
  background-color: #0095ff;
}
@include tablet {
  flex-direction: row;
  flex-wrap: wrap;
}
