.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 25rem;
  align-items: center;

  &__logo {
    display: flex;
  }

  &__group-container {
    display: flex;
    width: 25rem;
    height: 2.5rem;
    justify-content: space-around;
  }

  &__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.75rem;
    width: 12.5rem;
    border-radius: 1rem;
  }

  &__upload {
    display: flex;
    justify-content: center;
    width: 5.5rem;
    align-items: center;
    border-radius: 15%;
    background-color: #0095ff;
  }

  &__avatar {
    display: flex;
    align-content: center;
    object-fit: cover;
    overflow: auto;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 1px solid blue;
  }
}
@include tablet {
  flex-direction: row;
  flex-wrap: wrap;
}
