.upload__form-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__slogan {
    display: flex;
  }

  &__bicycle {
    display: flex;
    width: 25%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 60rem;
    width: 100%;
  }

  &__input {
    display: flex;
    width: 100%;
    height: 10%;
  }

  &__textarea {
    display: flex;
    width: 100%;
    height: 10%;
  }
  &__button-container {
    display: flex;
    align-self: flex-end;
  }
}
