.upload {
  &__form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__slogan {
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-size: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-around;
    width: 100%;
    height: 500px;
  }

  &__bicycle img {
    width: 45%;
    border-radius: 2.5%;
  }

  &__label {
    width: 100%;
    height: 50px;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__input {
    width: 90%;
    height: 50px;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__textarea {
    width: 90%;
    height: 100px;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  &__button-container {
    width: 100%;
    height: 100px;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
  }

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
  }
  @include desktop {
    background-color: blue;
  }
}

button {
  justify-content: flex-end;
  align-self: flex-end;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.125rem;
  background-color: #0095ff;
}
