.upload__form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.upload__slogan {
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
  font-size: 30px;
}

.upload__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: space-around;
  width: 100%;
  height: 500px;
}

.upload__bicycle img {
  width: 45%;
  border-radius: 2.5%;
}

.upload__label {
  width: 100%;
  height: 50px;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

.upload__input {
  width: 90%;
  height: 50px;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

.upload__textarea {
  width: 100%;
  height: 100px;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

.upload__button-container {
  width: 100%;
  height: 100px;
  font-family: 'AvenirNext LT Pro';
  font-weight: bold;
}

button {
  justify-content: flex-end;
  align-self: flex-end;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.125rem;
  background-color: #0095ff;
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
