.videos {
  &__list {
    padding-top: 3.5rem;
    min-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;

    @include tablet {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__poster-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 1rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 150px;
    padding-left: 1rem;
  }
  &__poster {
    display: flex;
    max-width: 150px;
  }
  &__title {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
  }
  &__channel {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
  }
}
