.video__list {
  max-width: 47rem;
  justify-content: baseline;
  display: flex;
  flex-direction: row;

  &__image {
    max-width: 32%;
    border-radius: 10%;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__title {
      display: flex;
      width: 150px;
    }

    &__author {
      display: flex;
    }
  }
}
