.videos {
  &__list {
    padding-top: 4.75rem;
    min-width: 100%;
    flex-direction: column;
    background-color: coral;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__poster-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-color: blue;
  }

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 100px;
  }
  &__poster {
    display: flex;
    max-width: 200px;
  }
  &__title {
    display: flex;
  }
  &__channel {
    display: flex;
  }
}
