.videos {
  &__list {
    padding-top: 3rem;
    min-width: 100%;
    flex-direction: column;
    align-content: flex-start;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__next-video {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding: 1rem;
    font-family: 'AvenirNext LT Pro';
    font-weight: lighter;
    font-style: normal;
  }
  &__poster-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    max-width: 100%;
    padding: 1rem;
  }

  &__poster {
    display: flex;
    max-width: 120px;
    max-height: 70px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100%;
  }

  &__title {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-weight: bold;
    font-style: normal;
  }
  &__channel {
    display: flex;
    font-family: 'AvenirNext LT Pro';
    font-weight: normal;
    font-style: normal;
  }
}
